@import "../bootstrap-4.4.1/scss/mixins";
@import "../bootstrap-4.4.1/scss/functions"; 
@import "../bootstrap-4.4.1/scss/variables";

// Font Properties
$default-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-size-base: 1rem;
$h1-font-size: $font-size-base * 3;

// Colors
$black: black;
$deep-sapphire: #0E397C;
$milano-red: #B50808;
$negroni: #FFE4C2;
$white: white;

body {
  background:
      linear-gradient(230deg, rgba(75, 207, 147, 0.7), rgba(75, 121, 207, 0.7)),
      url(../img/background.jpg) no-repeat center fixed;
  background-size: cover;
  line-height: 1.6;
}

/*
html {
  // CSS needed to apply mix-blend-mode to the profile img in Chrome (Safari was working OK without it)
  background: #fff;
}
*/

h1 {
  font-family: $default-font-family;
  font-size: $h1-font-size;
  letter-spacing: 5px;
}

.fa-envelope {
  color: $white;
}

.fa-envelope:hover {
  color: $negroni;
}

.fa-linkedin-in {
  color: $white;
}

.fa-linkedin-in:hover {
  color: $deep-sapphire;
}

.fa-github-alt {
  color: $white;
}

.fa-github-alt:hover {
  color: $black;
}

.fa-youtube {
  color: $white;
}

.fa-youtube:hover {
  color: $milano-red;
}

.main-container {
  height: 100vh;
  //mix-blend-mode: overlay;
  width: 100vw;
}

.profile-photo {
  border: 1px solid #fff;
  display: inline-block;
  padding: 5px;

  img {
    width: 120px;
  }
}

.social-media {
  list-style-type: none;
}

.subtitle {
  font-size: $font-size-base;
  letter-spacing: 2px;

  li {
    display:inline;
  }

  li:after {
    content: " •";
  }

  li:last-child:after {
    content: "";
  }
}

// Overrides must come before you import Bootstrap’s Sass files.
// Bootstrap docs suggest using the full import stack from bootstrap.scss file as your starting point
// Look at Getting started --> Theming for more info.
@import "../bootstrap-4.4.1/scss/bootstrap";
